{% extends "layout.html" %}

{% block content %}

<section class="engine"><a href="https://mobirise.co">Mobirise</a></section><section class="header6 cid-qAMG8qrwc0 mbr-fullscreen" data-bg-video="https://www.youtube.com/watch?v=5aDhrHNzB4U" id="header6-t" data-rv-view="281">



    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    404 </h1>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5"> </p>
                <div class="mbr-section-btn align-center">
                        <a class="btn btn-md btn-primary display-4" href="/index">Take me home</a>

                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}