{% extends "layout.html" %}

{% block content %}

<section class="engine"><a href="https://mobirise.co">Mobirise</a></section><section class="header6 cid-qAMG8qrwc0 mbr-fullscreen" data-bg-video="http://www.youtube.com/watch?v=uNCr7NdOJgw" id="header6-t" data-rv-view="281">



    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    About us</h1>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">We have a simple vision. To create permanent links to the best educational resources in the world and measure their impact</p>
                <div class="mbr-section-btn align-center">
                        <a class="btn btn-md btn-primary display-4" href="/signup">Register now</a>
                        <a class="btn btn-md btn-white-outline display-4" href="/generator">Clue Pony Directory</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="mbr-section article content11 cid-qAMHAFQQi1" id="content11-v" data-rv-view="285">


    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                <ol>
                    <li><strong>SUBMIT A LINK</strong> - Paste the URL of your resource into our Clue Pony generator, click submit. <a href="/generator/">Try it now!</a></li>
                    <li><strong>INCLUDE THE LINK IN MARKETING AND LESSONS</strong>&nbsp;- Share the link as an email or add it to your Google Classroom resources. <a href="/generator/">Try it now!</a></li>
                    <li><strong>MEASURE LINK USAGE</strong>- Every Clue Pony link is recorded. Dive into the data to learn more and see which resources are used by teaching professionals <a href="/resource/view/ptbax">Try it now!</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content9 cid-qAMHWxCYZh" id="content9-z" data-rv-view="286">



    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-fonts-style display-5">
                    Clue Pony is the easiest way to see exactly how digital educational resources are used. Including Clue Pony links in email and social marketing helps increase ROI on digital marketing spend.</div>
            <hr class="line" style="width: 25%;">
        </div>
        </div>
</section>

<section class="section-table cid-qANPyTaVux" id="table1-1f" data-rv-view="288">



  <div class="container container-table">
      <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">
          Clue Pony Usage</h2>
      <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-5">Understand how Clue Ponies contribute to your content discovery and marketing ROI. Data driven reports and rankings help Publishers connect resources directly with educators.</h3>
      <div class="table-wrapper">
        <div class="container">
          <div class="row search">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="dataTables_filter">
                  <label class="searchInfo mbr-fonts-style display-7">Search:</label>
                  <input class="form-control input-sm" disabled="">
                </div>
            </div>
          </div>
        </div>

        <div class="container scroll">
          <table class="table isSearch" cellspacing="0">
            <thead>
              <tr class="table-heads ">




              <th class="head-item mbr-fonts-style display-7">
                      Clue Pony Short URL</th><th class="head-item mbr-fonts-style display-7">Clicks</th><th class="head-item mbr-fonts-style display-7">Pub Date</th><th class="head-item mbr-fonts-style display-7">Clue Pony Value</th></tr>
            </thead>

            <tbody>




            <tr>




              <td class="body-item mbr-fonts-style display-7">/edfcg</td><td class="body-item mbr-fonts-style display-7">44</td><td class="body-item mbr-fonts-style display-7">2016-10-17</td><td class="body-item mbr-fonts-style display-7">$317.000</td></tr><tr>




              <td class="body-item mbr-fonts-style display-7">/cvfgh</td><td class="body-item mbr-fonts-style display-7">35</td><td class="body-item mbr-fonts-style display-7">2013-04-12</td><td class="body-item mbr-fonts-style display-7">$445.500</td></tr><tr>




              <td class="body-item mbr-fonts-style display-7">/fds4f</td><td class="body-item mbr-fonts-style display-7">66</td><td class="body-item mbr-fonts-style display-7">2016-05-22</td><td class="body-item mbr-fonts-style display-7">$152.558</td></tr><tr>




              <td class="body-item mbr-fonts-style display-7">/3423</td><td class="body-item mbr-fonts-style display-7">70</td><td class="body-item mbr-fonts-style display-7">2016-05-15</td><td class="body-item mbr-fonts-style display-7">$459.146</td></tr></tbody>
          </table>
        </div>
        <div class="container table-info-container">
          <div class="row info">
            <div class="col-md-6">
              <div class="dataTables_info mbr-fonts-style display-7">
                <span class="infoBefore">Showing</span>
                <span class="inactive infoRows"></span>
                <span class="infoAfter">entries</span>
                <span class="infoFilteredBefore">(filtered from</span>
                <span class="inactive infoRows"></span>
                <span class="infoFilteredAfter"> total entries)</span>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="counters2 counters cid-qAO4r5JtQS" id="counters2-1i" data-rv-view="345">





    <div class="container pt-4 mt-2">
        <div class="media-container-row">
            <div class="media-block" style="width: 50%;">
                <h2 class="mbr-section-title pb-3 align-left mbr-fonts-style display-2">
                    Usage Dashboards</h2>
                <h3 class="mbr-section-subtitle pb-5 align-left mbr-fonts-style display-5">
                    Key metrics for Clue Pony links to educational resources.
                </h3>
                <div class="mbr-figure">
                    <img src="/assets/images/istock-000008424489xsmall-346x347.jpg" alt="" title="" media-simple="true">
                </div>
            </div>
            <div class="cards-block">
                <div class="cards-container">
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont pr-2 mbri-code" media-simple="true"></span>
                                <h3 class="count py-3 mbr-fonts-style display-5">
                                    1,283</h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-4">
                                    Number of Clue Ponies you have created</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7"></p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont pr-2 mbri-growing-chart" media-simple="true"></span>
                                <h3 class="count py-3 mbr-fonts-style display-5">
                                    200
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">High Impact Resources</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    Reports and charts describing High Impact resources</p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont pr-2 mbri-opened-folder" media-simple="true"></span>
                                <h3 class="count py-3 mbr-fonts-style display-5">
                                    284</h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Collections</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">Number of Teacher-created collections in which your Clue Ponies appear</p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbri-globe-2 mbr-iconfont pr-2" media-simple="true"></span>
                                <h3 class="count py-3 mbr-fonts-style display-5">
                                    12,543</h3>
                            </div>
                            <div class="card-texts">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Clicks</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                        Total number of clicks from all sources and channels.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="toggle1 cid-qAMIaat202" id="toggle1-11" data-rv-view="348">




        <div class="container">
            <div class="media-container-row">
                <div class="col-12 col-md-8">
                    <div class="section-head text-center space30">
                       <h2 class="mbr-section-title pb-5 mbr-fonts-style display-2">
                            Common Questions</h2>
                    </div>
                    <div class="clearfix"></div>
                    <div id="bootstrap-toggle" class="toggle-panel accordionStyles tab-content">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse1_31" aria-expanded="false" aria-controls="collapse1">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> What is Clue Pony?</h4>
                                </a>
                            </div>
                            <div id="collapse1_31" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7">
                                       A Clue Pony is a shortened, permanent link to online educational resource. Teachers can share them with their pupils and fellow teachers. Post to Google CLassroom and other Educational portals.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse2_31" aria-expanded="false" aria-controls="collapse2">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>&nbsp;I'm a teacher, why use Clue Pony?</h4>
                                </a>

                            </div>
                            <div id="collapse2_31" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7">
                                       Clue Pony links are permanent and safe. No more dead links or changes of final destination. Easily add them to the tools you use and see data about resource usage and link to similar resources.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse3_31" aria-expanded="false" aria-controls="collapse3">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>I'm a publisher, what's in it for me?</h4>
                                </a>
                            </div>
                            <div id="collapse3_31" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7">
                                       Clue Ponies are perfect for including in marketing and resource metadata publishing. Every Clue Pony links back to the original resource on the Publisher's site. Every time a Clue Pony is clicked generates valuable data about how the resource is used and shared.
                                       </p>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
</section>


{% endblock %}