{% extends "layout.html" %}
{% block content %}

<section class="engine"><a href="https://mobirise.co/m">bootstrap table</a></section>
<section class="header1 cid-qAFUYTWSSF mbr-parallax-background" data-bg-video="https://www.youtube.com/watch?v=dk9uNWPP7EA&list=PL7cdQfbJcOxP_Ii2ifE-8NXj_qP1Mzb7a" id="header6-t" data-rv-view="243">


    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    Copyright Policy</h1>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">Important information about creating and sharing educational resources and content.</p>
            </div>
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>



<section/>
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">

                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5"></h3>

                <div class="container">
            <div class="page-header text-left" data-wow-delay="0.3s">
               <h1>Copyright Notice</h1>
					<p>
					</p><p>Clue Pony ("Clue Pony") respects the rights of copyright owners to control the uses of their intellectual property and requires users of our websites and services to do the same. Clue Pony has no responsibility for material provided by third parties that you may find or access when using Clue Pony products or services. It is Clue Pony policy to respond to notices of alleged infringement that comply with the Digital Millennium Copyright Act and other applicable intellectual property laws. Responses may include removing or disabling access to material that it believes, in good faith, infringes the copyright of a third party and/or terminating the accounts of users who may infringe or repeatedly infringe the copyrights or other intellectual property rights of Clue Pony and/or others.</p>
                        <p>If you believe that material or content residing on or accessible through Clue Pony website, services, or products infringes a copyright, you may submit a notice of alleged copyright infringement addressed as follows:</p>
                        <p>&nbsp;</p>
                        <p>Clue Pony <br> London, EC2 5TW</p>
                        <p>Your notice of alleged copyright infringement should include the following:</p>
                        <ul>
                        <li>the electronic or physical signature of the owner of the copyright or the person authorized to act on the owner's behalf;</li>
                        <li>identification of the copyrighted work that you claim has been infringed;</li>
                        <li>identification of the material that is claimed to be infringing or to be the subject of infringing activity, and information reasonably sufficient to permit Clue Pony to locate the material;</li>
                        <li>information reasonably sufficient to permit Clue Pony to contact you, such as your name, address, telephone number, and email address;</li>
                        <li>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and</li>
                        <li>a statement, made under penalty of perjury, that the above information in your notification is accurate and that you are the copyright owner or are authorized to act on the copyright owner's behalf.</li>
                        </ul>
                        <p>If you receive a notice from Clue Pony regarding the possible violation of another’s copyright rights, you may submit a counter-notification to the above Copyright Agent. That counter-notification should contain:</p>
                        <ul>
                        <li>A physical or electronic signature of the subscriber;&nbsp;</li>
                        <li>Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;&nbsp;</li>
                        <li>A statement under penalty of perjury that the subscriber has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled; and</li>
                        <li>The subscriber's name, address, and telephone number.</li>
                        </ul>
                        <p>If a counter-notice is received by our Copyright Agent, Clue Pony may send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed material or cease disabling it in 10 business days. Unless the copyright owner files an action seeking a court order against the content provider, member or user, the removed material may be replaced or access to it restored in 10 to 14 business days or more after receipt of the counter-notice, at Clue Pony discretion.</p>
                        <p>Please note that Clue Pony will not be a party to any dispute between any third parties (including you) over alleged copyright infringement and does not make an independent review as to the validity of any claim that is the subject of any notice of alleged copyright infringement.</p>
					<p></p>
    			</div>
			</div>

        </div>
    </div>

</section>

{% endblock %}