{% extends "dl_layout.html" %}

{% block content %}
<section class="engine"><a href="https://mobirise.co/m">bootstrap table</a></section><section class="header1 cid-qAFUYTWSSF mbr-parallax-background" id="header1-3" data-rv-view="243">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    Hodder Share</h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2"></h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    Tools to add links to lessons safely, measure resource usage and build trust between publisher and teacher.</p>
                <div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4" href="/dl_signup">
                        <span class="mbr-iconfont mbri-file"></span>Teachers sign up for free</a>
                   </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-qAMLCoMKmd" id="content4-12" data-rv-view="246">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Services</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">Hodder Share is an independent provider of shortened, permanent and measured links to educational resources.</h3>

            </div>
        </div>
    </div>
</section>

<!-- Ezoic - HomaMainPara1 - under_first_paragraph -->
<div id="ezoic-pub-ad-placeholder-100"></div>
<!-- End Ezoic - HomaMainPara1 - under_first_paragraph -->

<section class="features2 cid-qAHJOBv0Ed" id="features2-b" data-rv-view="248">
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/704b9ad6a6d84fbb9b2292428bdafb2d-602x560.png" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Resource linking</h4>
                        <p class="mbr-text mbr-fonts-style display-7">We believe that trusted, safe and permanent links to digital resources is essential to the discovery and usage of excellent educational content. That is why we help publishers create short URLs that teachers can easily incoporate into lessons. We’re committed to improving the discovery of educational content and understand that our job is to help our Publisher partners understand how their content is used in classrooms, so that they can create more of the content teachers really want.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/204ee1071fdc4652ab3a4c046f664da2-602x560.png" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box ">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Pre-print services for publishers</h4>
                        <p class="mbr-text mbr-fonts-style display-7">By using our Pre-Print Resources service, we can make in-production digital assets available to the education community before the printed book is actually published. It's a great way to get content in schools, driving sales and engagement around a title before it is launched . Contact us to learn more about our Pre-Print Pony IDs.&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/e77fd1ddd12e4652b471fe86db43b889-602x560.png" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Resource usage and impact</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Hodder Share does its very best to supply publishers with new insights about how their content is being used. We provide Teacher's with free accounts and a range of tools to help them incorporate our publisher's content into Lessons as Hodder Shares. Our reports, generated from every clicked Hodder Share, signals that a resource  was used in a classroom, not just viewed or downloaded. Contact us to learn how we can help teachers incorporate your content into their lessons.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-section-btn align-center">
                    <a class="btn btn-md btn-black display-4" href="/publishers">
                        <span class="mbri-hot-cup"></span> Yes, I'm interested. Contact me about Publisher services<br></a></div>
            </div>
    </div>

</section>

<section class="clients cid-qAMN8ioRu7" id="clients-13" data-rv-view="251">



        <div class="container mb-5">
            <div class="media-container-row">
                <div class="col-12 align-center">

                    <h3 class="mbr-section-subtitle mbr-light mbr-fonts-style display-5">Educational Publishers and Teachers use Hodder Share every day.</h3>
                </div>
            </div>
        </div>

    <div class="container">
        <div class="carousel slide" data-ride="carousel" role="listbox">
            <div class="carousel-inner" data-visible="5">





            <div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="/assets/images/kerboodle-243x78.png" class="img-responsive clients-img" alt="" title="" media-simple="true">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="/assets/images/letterland-453x111.png" class="img-responsive clients-img" alt="" title="" media-simple="true">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="/assets/images/tes-resources-square-276x275.jpg" class="img-responsive clients-img" alt="" title="" media-simple="true">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="/assets/images/65ca8612b2876fab2bfe1374cdb65102-learning-log-logs-400x400.jpg" class="img-responsive clients-img" alt="" title="" media-simple="true">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="/assets/images/showcase-logo-hodder-200x200.png" class="img-responsive clients-img" alt="" title="" media-simple="true">
                            </div>
                        </div>
                    </div>
                </div></div>
            <div class="carousel-controls">
                <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev">
                    <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next">
                    <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content5 cid-qALGIAOd2s mbr-parallax-background" id="content5-g" data-rv-view="265">



    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">Pricing</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">
                    Hodder Share Link management and data reports for publishers are coming in 2018. Register now to lock in the Hodder Share service for free for the first 30 days after launch in 2018.</h3>


            </div>
        </div>
    </div>
</section>

<section class="cid-qALBVkdCUO" id="pricing-tables2-f" data-rv-view="268">
    <div class="container">
        <div class="media-container-row">

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        Teaching Professional</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            £
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">0</span>
                        <small class="price-term mbr-fonts-style display-7">for ever<br>
                        </small>
                    </div>
                </div>
                <div class="plan-body">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">For Teaching professionals creating occasional Clue Ponies.&nbsp;</li><li class="list-group-item">Unlimited Clue Ponies per month</li><li class="list-group-item">Create and share Hodder Share Collections</li><li class="list-group-item">Unlimited use of Clue Ponies in Lessons</li><li class="list-group-item"><span style="background-color: transparent; font-size: 1rem;">Single Resource Impact Dashboards</span></li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center py-4 pb-5"><a href="/login" class="btn btn-primary display-4">Register Now</a></div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Independent</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            £
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">100</span>
                        <small class="price-term mbr-fonts-style display-7">
                            per month</small>
                    </div>
                </div>
                <div class="plan-body">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">For publishers making fewer than 100 digital resources available each month.</li>
                            <li class="list-group-item">
                                110 Front List Clue Ponies per month included</li><li class="list-group-item">1000 Back List Clue Ponies included</li>
                            <li class="list-group-item">20% discount on additional Hodder Share Bundles</li><li class="list-group-item">Publisher Usage Dashboards</li><li class="list-group-item">Email Support</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center py-4 pb-5"><a href="/publishers" class="btn btn-primary display-4">30 day free trial</a></div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center favorite col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Premium</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            £
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">300</span>
                        <small class="price-term mbr-fonts-style display-7">
                            per month</small>
                    </div>
                </div>
                <div class="plan-body">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                For larger volume publishers seeking increased ROI on digital marketing campaigns&nbsp;</li>
                            <li class="list-group-item">350 Front List Clue Ponies per month included</li>
                            <li class="list-group-item">5000 Back List Clue Ponies included</li>
                            <li class="list-group-item">
                                25% discount on additional Hodder Share bundles</li><li class="list-group-item">Usage Dashboards as Independant + Subject Usage</li><li class="list-group-item">Email and Telephone support</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center py-4 pb-5"><a href="/publishers" class="btn btn-primary display-4">30 day free trial</a></div>
                </div>
            </div>

            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">Enterprise</h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            £
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">600</span>
                        <small class="price-term mbr-fonts-style display-7">
                            per month</small>
                    </div>
                </div>
                <div class="plan-body">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">Large publishers with bigger teams, national and international traffic. Enterprise level services&nbsp;</li>
                            <li class="list-group-item">
                                1000 Front List Clue Ponies per month included</li>
                            <li class="list-group-item">10000 Back List Clue Ponies included</li>
                            <li class="list-group-item">
                                33% discount on additional Hodder Share bundles</li>
                            <li class="list-group-item">Usage Dashboards as Premium + Sector Wide</li><li class="list-group-item">Link processing API</li><li class="list-group-item">Dedicated Account Manager</li><li class="list-group-item">Email and Telephone support</li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center py-4 pb-5"><a href="/publishers" class="btn btn-primary display-4">30 day free trial</a></div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="mbr-section content4 cid-qANKGwtZJu" id="content4-1e" data-rv-view="271">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Need to upgrade?</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    Ad-hoc bundles that give you the additional marketing support you need when you need it.</h3>

            </div>
        </div>
    </div>
</section>

<section class="cid-qANKzUIARM" id="pricing-tables3-1d" data-rv-view="273">
    <div class="container">
        <div class="media-container-row">
            <div class=" col-12 col-lg-4 col-md-6 my-2">
                <div class="pricing">
                    <div class="plan-header">
                        <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                                £
                            </span>
                            <span class="price-figure mbr-fonts-style display-1">
                                50</span>
                            <h3 class="plan-title mbr-fonts-style display-5">
                                Standard bundle</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="plan-body">
                        <p class="mbr-text mbr-fonts-style display-7">Create 50 Clue Ponies and usage reports</p>
                        <div class="mbr-section-btn pt-4 text-center">
                            <a href="/publishers" class="btn btn-primary display-4">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 col-md-6 my-2">
                <div class="pricing">
                    <div class="plan-header">
                        <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                                £
                            </span>
                            <span class="price-figure mbr-fonts-style display-1">
                                100</span>
                            <h3 class="plan-title mbr-fonts-style display-5">
                                Business bundle</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="plan-body">
                        <p class="mbr-text mbr-fonts-style display-7">
                            150 Clue Ponies and usage reports</p>
                        <div class="mbr-section-btn pt-4 text-center">
                            <a href="/publishers" class="btn btn-primary display-4">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 col-md-6 my-2">
                <div class="pricing">
                    <div class="plan-header">
                        <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                                £
                            </span>
                            <span class="price-figure mbr-fonts-style display-1">
                                500</span>
                            <h3 class="plan-title mbr-fonts-style display-5">
                                Premium bundle</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="plan-body ">
                        <p class="mbr-text mbr-fonts-style display-7">An additional 1000 Clue Ponies and enhanced usage reports</p>
                        <div class="mbr-section-btn pt-4 text-center">
                            <a href="/publishers" class="btn btn-primary display-4">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="mbr-section content4 cid-qANKGwtZJu" id="content4-1e" data-rv-view="271">


    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Our blog posts</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    We often write about how teachers and publishers can manage the links they make to educational resources. Subscribe to the blog to receive the latest posts direct to your inbox.</h3>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/istock-000009717806xsmall-424x283.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">The impact of dead links in education and publishing.</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            The notion that links to educational resources 'die' is not new. This article from Markwell and Brookes describes 'Link Rot' affecting the teaching of biochemistry in 2003.
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center"><a href="http://blog.cluepony.com/2017/11/27/link-rot-limits-the-usefulness-of-web-based-educational-materials-in-biochemistry-and-molecular-biology/" class="btn btn-primary display-4">
                            Read more...</a></div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/istock-000000642081xsmall-427x281.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Best practices when linking to online resources</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            The Internet is an endlessly rich world of sites, pages and posts — until it all ends with a click and a “404 page not found” error message. The hyperlink was conceived in the 1960s, and there’s no doubt that the first broken link soon followed.
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center"><a href="http://blog.cluepony.com/2017/11/27/the-growing-problem-of-internet-link-rot-and-best-practices-for-media-and-online-publishers/" class="btn btn-primary display-4">
                            Read More...</a></div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/girl-whispering-424x283.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Welcome to Hodder Share! How does it work?</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            We know that first impressions are important, so we've put some some initial Getting Started posts that will help you get familiar with Hodder Share in no time. This is the first one!
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center"><a href="http://blog.cluepony.com/2017/11/27/welcome/" class="btn btn-primary display-4">
                            Read More...</a></div>
                </div>
            </div>


        </div>
    </div>
</section>
{% endblock %}