{% extends "dl_layout.html" %}
{% block content %}

<section class="engine"><a href="https://mobirise.co/m">bootstrap table</a></section><section class="header1 cid-qAFUYTWSSF mbr-parallax-background" id="header1-3" data-rv-view="243">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    Services for Teachers</h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2"></h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    Browser based tools and services that teachers can use to bookmark resources and post them to Google Classroom.</p>
                <div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4" href="/signup">
                        <span class="mbr-iconfont mbri-file"></span>Teachers sign up for free</a>
                   </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-qAMLCoMKmd" id="content4-12" data-rv-view="246">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Tools for teachers</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">Create permanent links to online resources and include them in your lessons and activities.</h3>

            </div>
        </div>
    </div>
</section>

<section class="features2 cid-qAHJOBv0Ed" id="features2-b" data-rv-view="248">
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/704b9ad6a6d84fbb9b2292428bdafb2d-602x560.png" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Resource linking with Hodder Share</h4>
                        <p class="mbr-text mbr-fonts-style display-7">One of the easiest ways to create a Hodder Share is to Login and use the free <a href="/dl_generator">
                        Generator </a>to create a Hodder Share link from the URL of a resource that you have found</p>
                        <p class="mbr-text mbr-fonts-style display-7">You can also use the <a href = "javascript:location.href='http://www.cluepony.com/urlgenerator?uri='+encodeURIComponent(location.href);">Hodder Share Maker</a> by dragging the text to your browser's toolbar. Then, when ever you find a resource anywhere on the web, click the toolbar link to post the URL of the page you're on to Hodder Share as a new, shareable link, ready to be added to your lessons and activities.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/204ee1071fdc4652ab3a4c046f664da2-602x560.png" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box ">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Hodder Share as a Community </h4>
                        <p class="mbr-text mbr-fonts-style display-7">Every time we receive a request for a new Hodder Share we'll check first to see if anyone else in the Hodder Share community has already created one for the resource you're linking too. </p><p>We want to create useful data about which resources Teachers find useful and share it with our publisher partners so that together the community will generate more of the resources teachers really want. </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/e77fd1ddd12e4652b471fe86db43b889-602x560.png" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Share Hodder resources with your Class</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Login to Hodder Share with your Google Classroom or 0365 for Education Team credentials. </p><p>Once logged in you can use Hodder Share alongside the tools you use everyday to create engaging lessons and activities, safe in the knowledge that the contents of the page provided by the Hodder Share is checked to ensure the end point is still valid before the page is served to the pupil.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-section-btn align-center">
                    <a class="btn btn-md btn-black display-4" href="/dl_signup">
                        <span class="mbri-hot-cup"></span> Sounds perfect. Sign me up.<br></a></div>
            </div>
    </div>

</section>


{% endblock %}