{% extends "layout.html" %}
{% block content %}




    <div class="container">

        {% for cluepony in clueponies %}
            <div class="row" style="margin-bottom: 1ex">
                <div>
                    Teaching Resource: {{ cluepony.content }}
                </div>
                <div class="row" style="margin-bottom: 1ex">
                    Your new Cluepony address for sharing: <a href="http://cluepony.com/{{ cluepony.encoded_url }}">http://www.cluepony.com/{{ cluepony.encoded_url }}</a>
                </div>
                <div>

                    <small>
                        Posted
                        {% if cluepony.posted %}
                            {{ cluepony.posted.strftime("%A, %d %B %Y at %H:%M") }}
                        {% else %}
                            at an unknown time
                        {% endif %}
                        by
                        {% if cluepony.publisher %}
                            {{ cluepony.publisher.username }}
                        {% else %}
                            anonymous
                        {% endif %}
                    </small>

                </div>
            </div>
        {% endfor %}

        {% if current_user.is_authenticated %}
            <div class="row">
                <form action="." method="POST">
                    <textarea name="contents" placeholder="Enter a URL to create a new Clue Pony" class="form-control"></textarea>
                    <input type="submit" class="btn btn-success" value="Post comment">
                </form>
            </div>
        {% endif %}

    </div><!-- /.container -->

{% endblock %}