{% extends "layout.html" %}
{% block content %}






<section class="engine"><a href="https://mobirise.co/k">bootstrap templates</a></section><section class="cid-qANtdQePA8 mbr-fullscreen mbr-parallax-background" id="header15-16" data-rv-view="373">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>
        <div class="container align-right">
            <div class="row">
                <div class="mbr-white col-lg-8 col-md-7 content-container">
                    <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                        Clue Pony Generator</h1>
                    <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Create your own Clue Pony. &nbsp;Registered Teaching Professional users can create collections and share them.</p>
                </div>
            <div class="col-lg-4 col-md-5">
            <div class="form-container">
                <div class="media-container-column">
                    <div data-form-alert="" hidden="" class="align-center">Thanks for creating a new Clue Pony!</div>
                        <form class="mbr-form" action="." method="POST" data-form-title="Clue Pony Form"><input type="hidden">
                            <div data-for="name">
                                <div class="form-group">
                                    <input type="text" class="form-control px-3" name="contents" data-form-field="Name" placeholder="Enter a URL to create a new Clue Pony" required="" id="name-header15-16">
                                </div>
                            </div>
                            <div data-for="email">
                                <div class="form-group">
                                    <input type="email" class="form-control px-3" name="email" data-form-field="Email" placeholder="Your Email" required="" id="email-header15-16">
                                </div>
                            </div>
                            <span class="input-group-btn"><button href="" type="submit" class="btn btn-secondary btn-form display-4">Create my Clue Pony</button></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>




<section class="engine"><a href="https://mobirise.co/b">web site creator</a></section><section class="section-table cid-qBl0L2obyp" id="table1-1r" data-rv-view="1758">



  <div class="container container-table">
      <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">
          Newest Clue Ponies
      </h2>
      <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-5">
            These are the latest additions to the Clue Pony service. Registered Teachers can publish these resources to their Google Classroom,o365 for Education Teams accounts or Personal Clue Pony collections.
      </h3>
      <div class="table-wrapper">
        <div class="container">
          <div class="row search">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="dataTables_filter">
                  <label class="searchInfo mbr-fonts-style display-7">Search:</label>
                  <input class="form-control input-sm" disabled="">
                </div>
            </div>
          </div>
        </div>

        <div class="container scroll">
          <table class="table isSearch" cellspacing="0">
            <thead>
              <tr class="table-heads ">

              <th class="head-item mbr-fonts-style display-7">
                      SHARE</th><th class="head-item mbr-fonts-style display-7">
                      CLUE PONY</th><th class="head-item mbr-fonts-style display-7">
                      INFO</th><th class="head-item mbr-fonts-style display-7">
                      RESOURCE</th><th class="head-item mbr-fonts-style display-7">
                      PUBLISHED BY</th><th class="head-item mbr-fonts-style display-7">
                      DATE</th></tr>
            </thead>

            <tbody>
                {% for cluepony in clueponies %}
        <tr>
            <td class="body-item mbr-fonts-style display-7">
            {% if current_user.is_authenticated %}
                <g:sharetoclassroom size=32 url="http://www.cluepony.com/r/{{ cluepony.encoded_url }}"></g:sharetoclassroom>
            {% else %}
                <a href="{{ url_for('login') }}"><span class="mbri-login"></span></a>
            {% endif %}
            </td>
            <td class="body-item mbr-fonts-style display-7"><a href="http://www.cluepony.com/r/{{ cluepony.encoded_url }}">http://www.cluepony.com/r/{{ cluepony.encoded_url }}</a></td>
            <td>
                <a href="http://www.cluepony.com/resource/view/{{ cluepony.encoded_url }}"><span class="mbri-growing-chart"></span></a>
            </td>
            <td class="body-item mbr-fonts-style display-7">{{ cluepony.content }}</td>
            <td class="body-item mbr-fonts-style display-7">{% if cluepony.publisher %}
                    {{ cluepony.publisher.username }}
                {% else %}
                    anonymous
                {% endif %}</td>
            <td class="body-item mbr-fonts-style display-7">{% if cluepony.posted %}
                    {{ cluepony.posted.strftime("%A, %d %B %Y at %H:%M") }}
                {% else %}
                    at an unknown time
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
        </div>
        <div class="container table-info-container">
          <div class="row info">
            <div class="col-md-6">
              <div class="dataTables_info mbr-fonts-style display-7">
                <span class="infoBefore">Showing</span>
                <span class="inactive infoRows"></span>
                <span class="infoAfter">entries</span>
                <span class="infoFilteredBefore">(filtered from</span>
                <span class="inactive infoRows"></span>
                <span class="infoFilteredAfter"> total entries)</span>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </div>
</section>




{% endblock %}