{% extends "layout.html" %}
{% block content %}

<section class="engine"><a href="https://mobirise.co/m">bootstrap table</a></section>
<section class="header1 cid-qAFUYTWSSF mbr-parallax-background" data-bg-video="https://www.youtube.com/watch?v=dk9uNWPP7EA&list=PL7cdQfbJcOxP_Ii2ifE-8NXj_qP1Mzb7a" id="header6-t" data-rv-view="243">


    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    Privacy Policy</h1>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">Important information about your data and Clue Pony.</p>
            </div>
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>



<section/>
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">

                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                    <br>
                    <p>If you’re a customer or on one of our prospect lists there may be certain information that we need to record about you. The Data Protection Act means that you’re entitled to know what we have recorded and how we intend to use it.</p>
                    <p>Essentially, if you're a teacher we use your information to look after your linking account or provide a particular service such as integrating with your Google Classroom or 0365 account. If you're a publisher, occasionally we may contact you about other things that may be of interest, but you will of course always be given the option to opt out of these communications.</p>
                    <p>Your data is stored securely and we strictly adhere to the Direct Marketing Code of Practice. For further information see the DMA website: www.dma.org.uk</p>
                    <p>If you have any comments or questions about any aspect of our privacy policy, please do get in touch.</p>
        </div>
    </div>

</section>

{% endblock %}