{% extends "layout.html" %}
{% block content %}

<section class="engine"><a href="https://mobirise.co/j">how to design your own website</a></section><section class="counters2 counters cid-qBldf6NCbc" id="counters2-1x" data-rv-view="2823">

    <div class="container pt-4 mt-2">
        <div class="media-container-row">
            <div class="media-block" style="width: 50%;">
                <h2 class="mbr-section-title pb-3 align-left mbr-fonts-style display-2">
                    Clue Pony Dashboard</h2>
                <h3 class="mbr-section-subtitle pb-5 align-left mbr-fonts-style display-5">To help others find and make use of this resource Registered teachers and publishers can add metadata and ratings<br><br>Clue Pony:{{cluepony_ID}}<br><br>About This Resource<br><br><br></h3>
                <div class="mbr-figure">
                    <img src="/assets/images/istock-000005278591xsmall-437x275.jpg" alt="" title="" media-simple="true">
                </div>
            </div>
            <div class="cards-block">
                <div class="cards-container">
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont pr-2 mbri-opened-folder" media-simple="true"></span>
                                <h3 class="count py-3 mbr-fonts-style display-2">
                                    11</h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Collections</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    This resource has been added to {{11}} Clue Pony collections</p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont pr-2 mbri-upload" media-simple="true"></span>
                                <h3 class="count py-3 mbr-fonts-style display-2">
                                    15</h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Shares</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    This resource has been shared in Social Media and Google Classroom {{15}} times</p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont pr-2 mbri-cursor-click" media-simple="true"></span>
                                <h3 class="count py-3 mbr-fonts-style display-2">
                                    300
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Clicked</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                        This Clue Pony has been visited {{300}} times</p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12 col-md-6">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbr-iconfont pr-2 mbri-growing-chart" media-simple="true"></span>
                                <h3 class="count py-3 mbr-fonts-style display-2">
                                    4.5</h3>
                            </div>
                            <div class="card-texts">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Trust Factor</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                        This resource has been granted a Clue Pony Trust Factor of 15 <em>&lt;learn more&gt;</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cid-qBld6vjaAy" id="social-buttons1-1w" data-rv-view="2826">





    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                <h2 class="pb-3 mbr-section-title mbr-fonts-style display-2">
                    Share this resource</h2>
                <div>
                    <div class="mbr-social-likes" data-counters="false">
                        <span class="btn btn-social facebook mx-2" title="Share link on Facebook">
                            <i class="socicon socicon-facebook"></i>
                        </span>
                        <span class="btn btn-social twitter mx-2" title="Share link on Twitter">
                            <i class="socicon socicon-twitter"></i>
                        </span>
                        <span class="btn btn-social plusone mx-2" title="Share link on Google+">
                            <i class="socicon socicon-googleplus"></i>
                        </span>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}