{% extends "layout.html" %}


{% block content %}

<section class="engine"><a href="https://mobirise.co/m">bootstrap table</a></section>
<section class="header1 cid-qAFUYTWSSF mbr-parallax-background" data-bg-video="https://www.youtube.com/watch?v=dk9uNWPP7EA&list=PL7cdQfbJcOxP_Ii2ifE-8NXj_qP1Mzb7a" id="header6-t" data-rv-view="243">


    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    Welcome</h1>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">Create your free Teaching Professional account.</p>
            </div>
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

</section>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container">


    <div class="omb_login">
    	<h3 class="omb_authTitle"></a></h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">

        	<div>
		        <a href="{{auth_url}}" class="btn btn-lg btn-block omb_btn-google">
			        <i class="fa fa-google-plus visible-m"></i>
			        <span class="hidden-xs"> Google Classroom</span>
		        </a>
	        </div>

	        <div>
		        <a href="#" class="btn btn-lg btn-block omb_btn-windows">
			        <i class="fa fa-windows visible-m"></i>
			        <span class="hidden-xs"> Office 365 for Education</span>
		        </a>
	        </div>

	        <div>
		        <a href="#" class="btn btn-lg btn-block omb_btn-fb">
			        <i class="fa fa-facebook visible-m"></i>
			        <span class="hidden-xs"> Facebook</span>
		        </a>
	        </div>

		</div>

		<div>
			<div>
				<hr class="omb_hrOr">
			</div>
		</div>

	</div>
</div>







    <div class="container">
        <div class="media-container-column title col-12 col-lg-8 offset-lg-2">
            <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                Register
            </h2>
            <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                Add Clue Ponies to personalised collections, share with colleagues, post to Classrooms .
            </h3>


             <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                {% if error %}
                    <div class="alert alert-warning" role="alert">
                        User with this password already exists. Invalid email or password.
                    </div>
                {% endif %}

                <form class="form-signin" method="POST" action="/signup">
                    {{ form.hidden_tag() }}

                    <input type="text" class="form-control" name="email" placeholder="Email" required autofocus>
                    <input type="text" class="form-control" name="username" placeholder="User Name" required>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                    <input class="btn btn-lg btn-primary btn-block"type="submit" value="Signup"></button>
                </form>

                </form>
            </div>
            </div>
        </div>
    </div>

{% endblock %}


